@font-face {
    font-family: 'LP-VGA';
    src: url('../font/LessPerfectDOSVGA.ttf') format('truetype');
}

/* These rules for "html" and "body" prevent the menu to bounce when scrolled */
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

body {
    font-family: 'LP-VGA';
    font-size: 18px;
    margin: 0px;
    
    /*Day theme*/
    color: cyan;
    background-color: darkblue;
}

.night_theme {
    color: lawngreen;
    background-color: black;
}

.vga_square {
    padding: 10px;
    margin: 0px;
}

.vga_window {
    border: 4px double;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.vga_window_title {
    border: none;
    margin-left: 1em;
    padding: 0.2em 0.8em
}

.vga_banner {
    border: 1px solid;
    color: ghostwhite;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.v_separator {
    height: 10px;
}

.head_pic {
    font-size: 4px;
    display: inline-block;
}

.menu {
    background-color: #A8A8A8;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    margin: 15px;
    margin-top: 40px;
}

.option_dropdown {
    display: inline-block;
}

.option_button {
    border: none;
    padding: 2px 8px 2px 8px;
}

.option_content {
    display: none;
    position: absolute;
    background-color: #A8A8A8;
    min-width: 160px;
    z-index: 1;
    padding: 5px;
}

.option_inner_content {
    padding: 5px;
    border: 1px solid;
}

.option_content a {
    color: black;
    padding: 2px 8px 2px 8px;
    text-decoration: none;
    display: block;
}

.option_content a:hover {
    background-color: black;
    color: #A8A8A8;
}

.option_dropdown:hover .option_content {display: block;}

.option_dropdown:hover .option_button {
    background-color: black;
    color: #A8A8A8;
}

.content_center {
    text-align: center;
}

.ascii_banner {
    font-size: 10px;
    display: inline-block;
    margin: auto;
    text-align: left;
}

/* Mobile rules */

@media only screen and (max-width: 768px) {
    body {
        font-size: 30px;
    }

    .content {
        margin-top: 70px;
    }

    .option_inner_content {
        border: 2px solid;
    }

    .vga_window {
        border: 6px double;
    }

    .option_content {
        width: auto;
        left: 0;
        right: 30px;
    }

    .option_button, .option_content a  {
        padding: 10px 10px 10px 10px;
    }

    .v_separator {
        height: 20px;
    }

    .ascii_banner {
        font-size: 6px;
    }
}