
body {
    text-align: justify;
    font-family: 'Courier New';
    font-size: 15px;
    margin: 0px;
    color: black;
    background-color: white;
}

a {
    font-weight: bold;
    font-style: italic;
    color: black;
    text-decoration: underline;
}

a.special {
    font-weight: bold;
    font-style: italic;
    color: white;
    background-color: rgb(71, 71, 227);
    text-decoration: none;
    padding-left: 2px;
    padding-right: 2px;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 2%;
    min-height: calc(100% - 60px);
    background-color: white;
}

.content_center {
    text-align: center;
}

.header_title {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dashed;
    border-color: black;
}

.body_section {
    line-height: 1.6;
    margin-left: 15%;
    margin-right: 15%;
}

.ascii_section {
    display: inline-block;
    margin: auto;
    text-align: left;
    white-space: pre;
}

h1 {
    font-family: 'Courier New';
    font-size: 25px;
    font-weight: bold;
}


h2 {
    font-family: 'Courier New';
    font-size: 15px;
    font-weight: bold;
}

.article_section {
    line-height: 1.6;
    margin-left: 15%;
    margin-right: 15%;
}

/* Mobile rules */

@media screen and (max-width: 768px) {
    body {
        font-size: 20px;
    }
    
    .content {
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .header_title {
        margin-left: 5px;
        margin-right: 5px;
    }

    .body_section {
        line-height: 1.6;
        margin-left: 5%;
        margin-right: 5%;
    }

    .article_section {
        line-height: 1.6;
        margin-left: 5%;
        margin-right: 5%;
    }

    h1 {
        font-size: 25px;
    }
    
    
    h2 {
        font-size: 20px;
    }
}

/* Dark mode rules */

@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: black;
    }
    
    a {
        color: white;
    }
    
    a.special {
        color: black;
        background-color: rgb(71, 227, 84);
    }
    
    .content {
        background-color: black;
    }

    .header_title {
        border-color: white;
    }
}