<div class="content_center">
<pre class="ascii_banner">
 ______     ______     ______     ______     __     ______   ______    
/\  ___\   /\  ___\   /\  ___\   /\  == \   /\ \   /\__  _\ /\  ___\   
\ \  __\   \ \___  \  \ \ \____  \ \  __<   \ \ \  \/_/\ \/ \ \___  \  
 \ \_____\  \/\_____\  \ \_____\  \ \_\ \_\  \ \_\    \ \_\  \/\_____\ 
  \/_____/   \/_____/   \/_____/   \/_/ /_/   \/_/     \/_/   \/_____/ 

</pre>
</div>

<div class="v_separator"></div>

<div class="square special_square">
  Els Escrits són un compendi de contes, històries curtes i reflexions, que he anat escribint quan tenia alguna idea que em rondava pel cap i sentia que l'havia d'expressar d'alguna forma. Alguns són totalemt ficticis, altres tenen un punt de realitat.
</div>

<div class="v_separator"></div>
<div class="v_separator"></div>

{% for post in site.posts %}
  {% if post.postCategory == "writing" %}
    <div class="square normal_square">
      <a class="link" href="{{ post.url }}">{{ post.title }} - {{ post.postDate }}</a>
      <div class="v_separator"></div>
      <div>{{ post.postFragment }}</div>
    </div>

    <div class="v_separator"></div>
  {% endif %}
{% endfor %}
