<nav class="menu">
    <div class="option_dropdown" onclick="justClick()">
        <div class="option_button">{% t titles.menu %}</div>
        <div class="option_content">
            <div class="option_inner_content">
                <a href={{ site.baseurl }}/>{% t titles.main %}</a>
                <a href={{ site.baseurl }}/{{ site.data.paths.bio }}>{% t titles.bio %}</a>
                <a href={{ site.baseurl }}/{{ site.data.paths.articles }}>{% t titles.articles %}</a>
                <a href={{ site.baseurl }}/{{ site.data.paths.projects }}>{% t titles.projects %}</a>
                <a href={{ site.baseurl }}/{{ site.data.paths.writings }}>{% t titles.writings %}</a>
            </div>
        </div>
    </div>
    <div class="option_dropdown" onclick="justClick()">
        <div class="option_button">{% t titles.language %}</div>
        <div class="option_content" id="option_language">
            <div class="option_inner_content">
                <a href="/">Català</a>
                <a href="/en/">English</a>
            </div>
        </div>
    </div>
    <div class="option_dropdown" onclick="justClick()">
        <div class="option_button">{% t titles.theme %}</div>
        <div class="option_content" id="option_theme">
            <div class="option_inner_content">
                <a onclick="setDayTheme()" href="">{% t titles.day %}</a>
                <a onclick="setNightTheme()" href="">{% t titles.night %}</a>
            </div>
        </div>
    </div>
</nav>