<nav class="menu">
    <div class="option_dropdown">
        <div class="option_button">Menu</div>
        <div class="option_content">
            <div class="option_inner_content">
                <a href=".">Main</a>
                <a href="bio.html">Bio</a>
                <a href="articles.html">Articles</a>
                <a href="projects.html">Projects</a>
                <a href="writings.html">Writings</a>
            </div>
        </div>
    </div>
    <div class="option_dropdown">
        <div class="option_button">Language</div>
        <div class="option_content">
            <div class="option_inner_content">
                <a>Català</a>
                <a>English</a>
            </div>
        </div>
    </div>
    <div class="option_dropdown">
        <div class="option_button">Theme</div>
        <div class="option_content">
            <div class="option_inner_content">
                <a onclick="setDayTheme()">Day</a>
                <a onclick="setNightTheme()">Night</a>
            </div>
        </div>
    </div>
</nav>