<nav class="menu">
    <div class="option_dropdown">
        <div class="option_button">{% t titles.menu %}</div>
        <div class="option_content">
            <div class="option_inner_content">
                <a href=".">{% t titles.main %}</a>
                <a href="bio.html">{% t titles.bio %}</a>
                <a href="articles.html">{% t titles.articles %}</a>
                <a href="projects.html">{% t titles.projects %}</a>
                <a href="writings.html">{% t titles.writings %}</a>
            </div>
        </div>
    </div>
    <div class="option_dropdown">
        <div class="option_button">{% t titles.language %}</div>
        <div class="option_content">
            <div class="option_inner_content">
                <a href="/ca/">Català</a>
                <a href="/">English</a>
            </div>
        </div>
    </div>
    <div class="option_dropdown">
        <div class="option_button">{% t titles.theme %}</div>
        <div class="option_content">
            <div class="option_inner_content">
                <a onclick="setDayTheme()">{% t titles.day %}</a>
                <a onclick="setNightTheme()">{% t titles.night %}</a>
            </div>
        </div>
    </div>
</nav>