<div class="content_center">
<pre class="ascii_banner">
 ______     ______     ______   __     ______     __         ______     ______    
/\  __ \   /\  == \   /\__  _\ /\ \   /\  ___\   /\ \       /\  ___\   /\  ___\   
\ \  __ \  \ \  __<   \/_/\ \/ \ \ \  \ \ \____  \ \ \____  \ \  __\   \ \___  \  
 \ \_\ \_\  \ \_\ \_\    \ \_\  \ \_\  \ \_____\  \ \_____\  \ \_____\  \/\_____\ 
  \/_/\/_/   \/_/ /_/     \/_/   \/_/   \/_____/   \/_____/   \/_____/   \/_____/ 

</pre>
</div>

<div class="v_separator"></div>

<div class="square special_square">
  Articles diversos, especialment desenvolupament de software. però també hi podreu trobar sobre enginyeria en general i altres temes.
</div>

<div class="v_separator"></div>
<div class="v_separator"></div>

{% for post in site.posts %}
  {% if post.postCategory == "article" %}
    <div class="square normal_square">
      <a class="link" href="{{ post.url }}">{{ post.postTitle }} - {{ post.postDate }}</a>
      <div class="v_separator"></div>
      <div>{{ post.postFragment }}</div>
    </div>

    <div class="v_separator"></div>
  {% endif %}
{% endfor %}