<!DOCTYPE html>
<html lang={{ site.lang }}>
<head>
    <title>{% t page.title %}</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl_root }}/css/styles.css" />
    <script src="{{ site.baseurl_root }}/js/main.js"></script>
    {% seo %}
</head>
<body>
    {% include menu.html %}
    <section class="content">
        {{ content }}
    </section>

    <script>
        let theme = localStorage.getItem("theme");
        if (theme == "night") {
            setNightTheme()
        }
        else {
            setDayTheme()
        }
    </script>
</body>
</html>