<!DOCTYPE html>
<html lang={{ site.lang }}>
<head>
    <title>{% t page.title %}</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl_root }}/css/styles.css" />
    <script src="{{ site.baseurl_root }}/js/main.js"></script>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {% seo %}
</head>
<body onclick="justClick()">
    {% include menu.html %}
    <section id='body_section' class="content">
        {{ content }}
    </section>

    <script>
        let theme = localStorage.getItem("theme");
        if (theme == "night") {
            setNightTheme()
        }
        else {
            setDayTheme()
        }
    </script>
</body>
</html>