<!DOCTYPE html>
<html lang={{ page.language }}>
<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="css/styles.css" />
    <script src="js/main.js"></script>
</head>
<body>
    <nav class="menu">
        <div class="option_dropdown">
            <div class="option_button">Menu</div>
            <div class="option_content">
                <div class="option_inner_content">
                    <a href=".">Main</a>
                    <a href="bio.html">Bio</a>
                    <a href="articles.html">Articles</a>
                    <a href="projects.html">Projects</a>
                    <a href="writings.html">Writings</a>
                </div>
            </div>
        </div>
        <div class="option_dropdown">
            <div class="option_button">Language</div>
            <div class="option_content">
                <div class="option_inner_content">
                    <a onclick="setLang('ca')">Català</a>
                    <a onclick="setLang('en')">English</a>
                </div>
            </div>
        </div>
        <div class="option_dropdown">
            <div class="option_button">Theme</div>
            <div class="option_content">
                <div class="option_inner_content">
                    <a onclick="setDayTheme()">Day</a>
                    <a onclick="setNightTheme()">Night</a>
                </div>
            </div>
        </div>
    </nav>

    <section class="content">
        {{ content }}
    </section>
</body>
</html>